{% extends 'users.html.twig' %}

{% block title %}{{ 'Modify the password of' |trans}} {{ app.user.firstname }} {{ app.user.lastname }}{% endblock %}

{% block body %}
    <div class="grix xs4 container">

        {% for message in app.flashes('alert') %}
        <div class="col-xs4">
            <div class="p-3 my-2 rounded-2 error">
                {{ message }}
            </div>
        </div>
        {% endfor %}

        <div class="col-xs4">
            <h2>{{ 'Modify the password of' |trans}} {{ app.user.firstname }} {{ app.user.lastname }}</h2>
            <form method="post"> 
                <div class="form-field">
                  <label for="pass">{{ 'Password' |trans}}</label>
                  <input type="password" id="pass" name="pass" class="form-control">
                </div>
                <div class="form-field">
                  <label for="pass2">{{ 'Confirm the password' |trans}}</label>
                  <input type="password" id="pass2" name="pass2" class="form-control">
                </div>
                <button class="btn shadow-1 rounded-1 green">{{ 'Confirm' |trans}}</button>
            </form>
        </div>
    </div>
{% endblock %}
